<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/header') %>
    <main class="container1">
      <h3>
        Agora que você nos contou o que precisa, confirme seus dados para te conectarmos aos melhores profissionais 
      </h3>
    <% if (typeof message !== "undefined" && message !== null) { %>
        <div style="text-align: center;" class="alert alert-danger" role="alert">
                         
              <span><%= message %></span>
                        
        </div>
    <% } %> 
      <% if (errors && typeof errors !== 'undefined') { %>
        <div class="alert alert-danger" role="alert">
          <div style="text-align: center; ">
            <% errors.errors.forEach(error => { %>
              <strong><%= error.msg %></strong><br>
            <% }); %>
          </div>
        </div>
      <% } %>
      <div class="formulario-cadastro">
        <div>
          <form class="cadform" method="POST" action="/cadastro-tomador-servico">
            <div class="form-group">
              <input  class="form-control" type="text" id="nome" name="nome" placeholder="Nome"  maxlength="100" >
              <span class="error-message"></span>
            </div>
            <div class="form-group">
              <input class="form-control" type="text" id="sobrenome" name="sobrenome" placeholder="Sobrenome"  maxlength="100" >
              <span class="error-message"></span>
            </div>
            <div class="form-group">
              <input class="form-control" type="email" id="email" placeholder="E-mail" name="email"  maxlength="120" >
              <span class="error-message"></span>
            </div>
            <div class="form-group">
              <input class="form-control" type="text" id="cpf" placeholder="CPF" name="cpf" maxlength="11" >
              <span class="error-message"></span>
            </div>
            <div class="form-group">
              <input class="form-control" type="text" id="endereco" placeholder="Rua Santo, Bairro Fulano, n 38, apt 301, Belo Horizonte, MG, cep 30140072" name="endereco" >
              <span class="error-message"></span> 
            </div>
            <div class="form-group">
              <input class="form-control" type="password" id="senha" placeholder="Senha" name="senha"  maxlength="16" >
              <span class="error-message"></span>
            </div>
            <div class="form-group">
              <input class="form-control" type="password" id="confsenha" placeholder="Confirme sua senha" name="confsenha"  maxlength="16" >
              <span class="error-message"></span>
            </div>

            <button type="submit" class="btn btn-enviar">Enviar</button>
            </form>
          </div>
          
          <div>




      </div>
      
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>
