<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/header') %>
    <main class="container" id="dashboard-pedidos-tomador">
      <section>
        <div>
          <h1 class="title-h1">PRESTADOR DE SERVIÇO</h1>
          <h2 class="title-h2">
            Confira abaixo a situação dos serviços que foram aceitos por você
          </h2>
        </div>
      </section>
      <section>
        <div class="display-pedidos">
          <ul>
            <% if (pedidos.length && typeof pedidos !== 'undefined') { %>
              <% pedidos.forEach((pedido, i) => { %>
                <li>
                  <div>
                    <h3>Pedido <%= i + 1 %> (ID: <%= pedido.id %>)</h3>
                  </div>
                  <div class="order-box selected" id="<%= pedido.status_id %> ">
                    <h4>STATUS: <%= status.filter(item => item.id === pedido.status_id)[0].tipo_status %> </h4>
                    <a href="/dashboard-prestador-pedido/<%= pedido.id %> ">
                      <div class="button">Detalhes do Pedido</div>
                    </a>
                  </div>
                </li>
             <% }) %> 
            <% }  else { %>
              <li>
                <b style="color: red">Nenhum serviço disponível</b>
              </li>
          <% } %> %>
          </ul>
        </div>
      </section>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>
