<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/header') %>
    <main class="container">
      <section id="order-summary">
          <div id="accordion">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <div class="info-pedido">
                      <div class="numero-pedido"> <span>Pedido <%= pedido.id %> </span></div>
                      <div class="detalhes-pedido"><span>Detalhes do Pedido</span></div>
                    </div>
                  </button>
                </h5>
              </div>
          
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                  <div class="row">
                    <div id="detalhes" class="col-12 col-lg-4">
                     <p>
                      <strong>Tipo de residência</strong> : <%= pedido.descricao_residencia %> 
                     </p>
                     <p><strong>Tipo de demanda</strong> : <%= pedido.descricao_demanda %> </p>
                     <p><strong>Tipo de serviço</strong> : <%= pedido.descricao_solicitacao %> </p>
                     <p><strong>Local</strong> : <%= pedido.endereco %> </p>
                     <% if (pedido.price !== null) { %>
                      <p><strong>Orçamento</strong> : <%= pedido.price %> </p>
                     <% } %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
      </section>
      <% if (prestador.id !== 1) { %>
      <section id="information">
        <div class="row">
          <div class="professional col-12 col-lg-6">
            <div class="image">
              <img src="<%= prestador.imagem_perfil %> " alt="Perfil Trabalhador">
            </div>
            <div class="info-personal">
              
                <p><b>Nome Completo</b>: <%= prestador.nome + ' ' + prestador.sobrenome %></p>
                <i id="endereco">Localização: <%= prestador.cep %></i>
                <script>
                  const getInfoAddress = (cep) => {
                      axios.get(`https://brasilapi.com.br/api/cep/v1/${cep}`).then((result) => {
                        const { data } = result
                        document.getElementById('endereco').innerHTML += `<br><em>${data.neighborhood}, ${data.city}</em>`
                      }).catch((err) => {
                        console.log(err)
                        document.getElementById('endereco').innerHTML += `<br><em>Não foi encontrado nenhum resultado para esse CEP</em>`
                      });
                      
                  }
                  window.addEventListener('load', () => {
                    getInfoAddress(<%= prestador.cep %>)
                  });
                  
                </script>
                <p>Na plataforma desde <%= prestador.data_inicio.split('-')[0] %>  </p>
                <p><b>Serviço Prestado</b></p>
                <span><%= servico.descricao_servico %> </span>
                <p>
                  Telefone: <b><%= prestador.telefone %> </b>
                </p>      
            </div>
          </div>

          <div class="action-order col-12 col-lg-6">
            <% if (pedido.status_id === 1) { %>
              <form action="/dashboard-tomador-pedido/<%= pedido.id %> " method="POST">
                <input type="hidden" name="status_id" value="2">
                <input type="hidden" name="prestador_id" value="<%= pedido.prestador_id %>">
                <input type="hidden" name="price" value="<%= pedido.price %>">
                <button type="submit" class="approved">Aprovar</button>
              </form>
  
              <form action="/dashboard-tomador-pedido/<%= pedido.id %> " method="POST">
                <input type="hidden" name="status_id" value="3">
                <input type="hidden" name="prestador_id" value="<%= pedido.prestador_id %>">
                <input type="hidden" name="price" value="<%= pedido.price %>">
                <button type="submit" class="rejected">Recusar</button>
              </form>
            <% } else if (pedido.status_id === 2) { %>
              <form action="/dashboard-tomador-pedido/<%= pedido.id %> " method="POST">
                <input type="hidden" name="status_id" value="1">
                <input type="hidden" name="price" value="null">
                <input type="hidden" name="prestador_id" value="1">
                <button type="submit" class="pending">Pendente</button>
              </form>

              <form action="/dashboard-tomador-pedido/<%= pedido.id %> " method="POST">
                <input type="hidden" name="status_id" value="3">
                <input type="hidden" name="prestador_id" value="<%= pedido.prestador_id %>">
                <input type="hidden" name="price" value="<%= pedido.price %>">
                <button type="submit" class="rejected">Recusar</button>
              </form>
              
           <% } else { %>
            <form action="/dashboard-tomador-pedido/<%= pedido.id %> " method="POST">
              <input type="hidden" name="status_id" value="1">
              <input type="hidden" name="prestador_id" value="1">
              <input type="hidden" name="price" value="null">
              <button type="submit" class="pending">Pendente</button>
            </form>

            <form action="/dashboard-tomador-pedido/<%= pedido.id %> " method="POST">
              <input type="hidden" name="status_id" value="2">
              <input type="hidden" name="prestador_id" value="<%= pedido.prestador_id %>">
              <input type="hidden" name="price" value="<%= pedido.price %>">
              <button type="submit" class="approved">Aprovar</button>
            </form>
          <% } %>
            
          </div>
        </div>
      </section>
      <% } else { %>
        <p>
          Serviço ainda não foi aceito por um prestador
        </p>
     <% } %>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>
