<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/header') %>
    <main class="container" id="dashboard-pedidos-tomador">
      <section>
        <div>
          <h1 class="title-h1">TOMADOR DE SERVIÇO</h1>
          <h2 class="title-h2">
            Confira abaixo o andamento das suas solicitações:
          </h2>
        </div>
      </section>
      <section>
        <div class="display-pedidos">
          <ul>
            <% pedidos.forEach((pedido, i) => { %>
              <li>
                <div>
                  <h3>Pedido <%= i + 1 %> (ID: <%= pedido.id %> )</h3>
                </div>
                <div class="order-box selected">
                  <h4 id="status-<%= pedido.status_id %>">STATUS: <%= status.filter(item => item.id === pedido.status_id)[0].tipo_status %> </h4>
                  <a href="/dashboard-tomador-pedido/<%= pedido.id %> ">
                    <div class="button">Detalhes do Pedido</div>
                  </a>
                  <% if (pedido.prestador_id === 1) { %>
                   <p style="color:red">Solicitação não aceita por um prestador</p>
                  <% } %>
                </div>
              </li>
           <% }) %> 
          </ul>
        </div>
      </section>
      <section class="align-center">
        <a href="/solicitar-servico">
          <div class="button-novo">NOVO PEDIDO</div>
        </a>
      </section>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>
