<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/header') %>
    <main class="container1">
      <section >
        <h2 class="section-title">
          Serviços de eletricista
        </h2>
      </section>
      <% if (errors && typeof errors !== 'undefined') { %>
        <div class="alert alert-danger" role="alert">
          <div style="text-align: center; ">
            <% errors.errors.forEach(error => { %>
              <strong><%= error.msg %></strong><br>
            <% }); %>
          </div>
        </div>
      <% } %>
            <div class="flex-container">
              <h4>
                <ul>                      
                    <div class="servicos-eletricista">
                      <div>
                        <img  src="images/eletricista.png" alt="servicos-eletricista">
                        <ul>
                            <p>
                              Preencha: <br>
                            </p>
                            <li>
                              A modalidade da sua residência (Casa ou apartamento);<br>
                            </li>
                            <li>
                              O tipo de demanda/serviço que deseja contratar; <br>
                            </li>
                            <li>
                              Uma breve descrição do serviço a qual deseja atendimento; <br>
                            </li>
                            <li>
                              Fique a vontade para incluir imagens se achar necessário  
                            </li>
                        </ul>
                      </div> 
                    </div>
                        <div class="formulario-solicitacao">
                          <form class="cadform" action="/solicitar-servico-eletricista" method="POST">
                            <section >
                              <div>
                                <label>TIPO DE RESIDÊNCIA</label><br>
                                <div>
                                  <input type="radio" value="Casa" name="descricao_residencia" id="casa" >
                                  <label for="casa">Casa</label><br>
                                  <input type="radio" value="Apartamento" name="descricao_residencia" id="apartamento" >
                                  <label for="apartamento">Apartamento</label> <br>
                                </div>
                                <label>TIPO DE DEMANDA</label>
                                <div>
                                  <input type="radio" value="Manutencao" name="descricao_demanda" id="manutencao" >
                                  <label for="manutencao">Manutenção</label><br>
                                  <input type="radio" value="Reforma" name="descricao_demanda" id="reforma" >
                                  <label for="reforma">Reforma</label> <br>             
                                </div>
                              </div>
                            </section>   
                            <section id="endereco-form">
                              <div class="form-group">
                                <label for="endereco">Endereço do Serviço</label>
                                <input style="width: 100% !important; height: auto !important;" class="form-control" value="<%= usuario.endereco %>" type="text" id="endereco" placeholder="Rua Santo, Bairro Fulano, n 38, apt 301, Belo Horizonte, MG, cep 30140072" name="endereco"  > 
                              </div>
                              <input type="hidden" name="status_id" value="1">
                              <input type="hidden" name="prestador_id" value="1">
                              <input type="hidden" name="servico_id" value="1">
                            </section>              
                            <section class ="caixa-dialogo">
                              <label for="caixa-dialogo">Descrição da Solicitação</label>
                              <textarea id="caixa-dialogo" name="descricao_solicitacao" rows="10" cols="100%" placeholder="Detalhe sua solicitação aqui"  minlength="50" maxlength="240" oninvalid="this.setCustomValidity('Descrição deve conter entre 50 e 240 caractéres')" 
                              onchange="try{setCustomValidity('')}catch(e){}"></textarea> 
                            </section >
                            <div class="botaoServico">
                              <button type="submit" class="btn btn-enviar">Enviar</button>
                                <!-- <a href="/dashboard-pedidos-prestador">Enviar</a> -->
                            </div>
                          </form> 
                        </div>
                      </div>  
                  </ul>
              </h4>
            </div>
      </section>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>
